@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    background-color: black;

    font-family: "Roboto", serif;
}

p,
span,
h1,
h2,
h3,
h4 {
    cursor: default;
}